In [ ]:
import pandas as pd

In [48]:
df = pd.read_json("log_data.json")
df

                    timestamp log_level                     message  user_id
0  2026-01-28 16:37:57.407362     ERROR      Null pointer exception  user_74
1  2026-01-28 16:47:57.407362     DEBUG  Query execution time: 50ms  user_56
2  2026-01-28 16:57:57.407362     DEBUG                  Cache miss  user_65
3  2026-01-28 17:07:57.407362     DEBUG  Query execution time: 50ms  user_42
4  2026-01-28 17:17:57.407362      WARN          Slow response time  user_75
..                        ...       ...                         ...      ...
95 2026-01-29 08:27:57.407362      INFO              User logged in  user_82
96 2026-01-29 08:37:57.407362     DEBUG  Query execution time: 50ms   user_2
97 2026-01-29 08:47:57.407362      INFO                 Page viewed  user_72
98 2026-01-29 08:57:57.407362     DEBUG                  Cache miss  user_67
99 2026-01-29 09:07:57.407362      WARN            Session expiring  user_19

[100 rows x 4 columns]

In [24]:
#Error Logs
error_logs = df[df["log_level"] == "ERROR"]
print(error_logs)

                    timestamp log_level                     message  user_id
0  2026-01-28 16:37:57.407362     ERROR      Null pointer exception  user_74
12 2026-01-28 18:37:57.407362     ERROR              File not found  user_92
14 2026-01-28 18:57:57.407362     ERROR      Null pointer exception  user_99
20 2026-01-28 19:57:57.407362     ERROR              File not found  user_91
21 2026-01-28 20:07:57.407362     ERROR      Null pointer exception  user_62
22 2026-01-28 20:17:57.407362     ERROR  Database connection failed  user_50
25 2026-01-28 20:47:57.407362     ERROR  Database connection failed   user_6
36 2026-01-28 22:37:57.407362     ERROR  Database connection failed  user_65
39 2026-01-28 23:07:57.407362     ERROR  Database connection failed  user_95
45 2026-01-29 00:07:57.407362     ERROR  Database connection failed  user_12
53 2026-01-29 01:27:57.407362     ERROR  Database connection failed  user_41
55 2026-01-29 01:47:57.407362     ERROR              File not found  user_23
59 2026-01-29 02:27:57.407362     ERROR      Null pointer exception   user_2
65 2026-01-29 03:27:57.407362     ERROR  Database connection failed  user_55
67 2026-01-29 03:47:57.407362     ERROR              File not found  user_47
68 2026-01-29 03:57:57.407362     ERROR      Null pointer exception  user_68
71 2026-01-29 04:27:57.407362     ERROR              File not found  user_45
72 2026-01-29 04:37:57.407362     ERROR      Null pointer exception  user_13
73 2026-01-29 04:47:57.407362     ERROR      Null pointer exception  user_94
75 2026-01-29 05:07:57.407362     ERROR      Null pointer exception  user_76
78 2026-01-29 05:37:57.407362     ERROR              File not found  user_59
80 2026-01-29 05:57:57.407362     ERROR  Database connection failed  user_24
88 2026-01-29 07:17:57.407362     ERROR      Null pointer exception  user_47
90 2026-01-29 07:37:57.407362     ERROR      Null pointer exception  user_76
92 2026-01-29 07:57:57.407362     ERROR      Null pointer exception  user_13
94 2026-01-29 08:17:57.407362     ERROR              File not found  user_76

In [15]:
#Occurrence of each logs
count = df['log_level'].value_counts()
print(count)

log_level
DEBUG    30
ERROR    26
WARN     24
INFO     20
Name: count, dtype: int64

In [18]:
#Most active user by user_id
most_active_user = df['user_id'].value_counts().idxmax()
print(most_active_user)

user_65

In [83]:
# Group errors by hour of the day
error_df = df[df["log_level"] == "ERROR"]
hourly_errors = error_df.groupby(error_df['timestamp'].dt.hour)
for i in hourly_errors:
    print(f"Hour :{i}")

Hour :(0,                     timestamp log_level                     message  user_id
45 2026-01-29 00:07:57.407362     ERROR  Database connection failed  user_12)
Hour :(1,                     timestamp log_level                     message  user_id
53 2026-01-29 01:27:57.407362     ERROR  Database connection failed  user_41
55 2026-01-29 01:47:57.407362     ERROR              File not found  user_23)
Hour :(2,                     timestamp log_level                 message user_id
59 2026-01-29 02:27:57.407362     ERROR  Null pointer exception  user_2)
Hour :(3,                     timestamp log_level                     message  user_id
65 2026-01-29 03:27:57.407362     ERROR  Database connection failed  user_55
67 2026-01-29 03:47:57.407362     ERROR              File not found  user_47
68 2026-01-29 03:57:57.407362     ERROR      Null pointer exception  user_68)
Hour :(4,                     timestamp log_level                 message  user_id
71 2026-01-29 04:27:57.407362     ERROR          File not found  user_45
72 2026-01-29 04:37:57.407362     ERROR  Null pointer exception  user_13
73 2026-01-29 04:47:57.407362     ERROR  Null pointer exception  user_94)
Hour :(5,                     timestamp log_level                     message  user_id
75 2026-01-29 05:07:57.407362     ERROR      Null pointer exception  user_76
78 2026-01-29 05:37:57.407362     ERROR              File not found  user_59
80 2026-01-29 05:57:57.407362     ERROR  Database connection failed  user_24)
Hour :(7,                     timestamp log_level                 message  user_id
88 2026-01-29 07:17:57.407362     ERROR  Null pointer exception  user_47
90 2026-01-29 07:37:57.407362     ERROR  Null pointer exception  user_76
92 2026-01-29 07:57:57.407362     ERROR  Null pointer exception  user_13)
Hour :(8,                     timestamp log_level         message  user_id
94 2026-01-29 08:17:57.407362     ERROR  File not found  user_76)
Hour :(16,                    timestamp log_level                 message  user_id
0 2026-01-28 16:37:57.407362     ERROR  Null pointer exception  user_74)
Hour :(18,                     timestamp log_level                 message  user_id
12 2026-01-28 18:37:57.407362     ERROR          File not found  user_92
14 2026-01-28 18:57:57.407362     ERROR  Null pointer exception  user_99)
Hour :(19,                     timestamp log_level         message  user_id
20 2026-01-28 19:57:57.407362     ERROR  File not found  user_91)
Hour :(20,                     timestamp log_level                     message  user_id
21 2026-01-28 20:07:57.407362     ERROR      Null pointer exception  user_62
22 2026-01-28 20:17:57.407362     ERROR  Database connection failed  user_50
25 2026-01-28 20:47:57.407362     ERROR  Database connection failed   user_6)
Hour :(22,                     timestamp log_level                     message  user_id
36 2026-01-28 22:37:57.407362     ERROR  Database connection failed  user_65)
Hour :(23,                     timestamp log_level                     message  user_id
39 2026-01-28 23:07:57.407362     ERROR  Database connection failed  user_95)

In [80]:
""""Generate a summary report showing:
Total logs processed
Error rate percentage
Top 5 most common error messages
Time period with most errors"""
print("Total Logs: ",len(df),"Shape of dataframe ",df.shape)

error_per = len(df[df['log_level']=='ERROR'])/len(df['log_level'])*100
print("Error rate percentage : ",error_per)

top_error = df["message"].value_counts().head(5)
print(f"Top 5 error : {top_error}")

peak_time = hourly_errors.size().idxmax()
print(f"Time Period with most errors : {peak_time}")

Total Logs:  100 Shape of dataframe  (100, 4)
Error rate percentage :  26.0
Top 5 error : message
Cache miss                    18
Slow response time            13
Query execution time: 50ms    12
Null pointer exception        11
Database connection failed     8
Name: count, dtype: int64
Time Period with most errors : 3

In [77]:
peak_time = error_df.groupby(error_df['timestamp'].dt.hour).size().idxmax()
print(peak_time)

3

In [82]:
df.count()

timestamp    100
log_level    100
message      100
user_id      100
dtype: int64